body{
    background: url("https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/trajes-baratos-invitado-boda-1568275824.jpg");
    background-attachment:fixed;
    background-repeat: no-repeat;
    background-size:cover; 
    }
    
    
    /* ::-webkit-scrollbar{
    display: none;
    } */